/*
    Adapted from http://bootsnipp.com/snippets/featured/simple-card-alerts
    by Fortael
*/

.card {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    overflow: auto;
}

.card:hover{
  cursor: pointer;
  border-color: #45ABCD;
}

.movie-poster img {
  float: left;
  width: 10%;
}

.movie-title {
  margin-left: 10%;
  padding-top: 5%;
}